.page-container {
    max-width: 1200px; /* Set the maximum width of the page */
    margin: 0 auto;    /* Center the container on the page */
    padding: 0 20px;   /* Add some horizontal padding */
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    font-size: 40px;
}


h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600; /* Slightly bold for subheadings */
    font-size: 25px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; /* Normal weight for paragraphs */
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

.header, .footer {
    background-color: #333;
    color: white;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background-color: white;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}


.visualization {
    margin: 20px 0;
    text-align: center;
}

.text {
    margin: 10px 0;
}

#vis1 {
    width: 80%;
    
}

#vis4 {
    width: 80.5%;
    margin-left: -46px;
}


#vis5 {
    width: 80.5%;
    margin-left: 10px;
    text-align: left;
}

#vis6 {
    width: 72.5%;
    text-align: center;
}



